<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>394486400521-3j1h9kj7qaeqd390ej3dgjsuee1mn88c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.394486400521-3j1h9kj7qaeqd390ej3dgjsuee1mn88c</string>
	<key>API_KEY</key>
	<string>AIzaSyDWJ4FIxgSR_eg7HKPKY4nNeoBdJSAYFRI</string>
	<key>GCM_SENDER_ID</key>
	<string>394486400521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobile.renshenglogin</string>
	<key>PROJECT_ID</key>
	<string>lifepeak-a7a3d</string>
	<key>STORAGE_BUCKET</key>
	<string>lifepeak-a7a3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394486400521:ios:816ecceb481992b3</string>
	<key>DATABASE_URL</key>
	<string>https://lifepeak-a7a3d.firebaseio.com</string>
</dict>
</plist>